{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block stylesheets%}
    <style>
    div {
        background-color:#CCC;
    }
    h3{
        color:darkblue
    }
</style>
{%endblock%}

{% block body %}

    {% if app.user %}
        <p>Bienvenue {{ app.user.email }}</p>
        
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">register</a>
    {% endif %}


    {% for article in articles %}
        <div>
            <h1><a href="{{ path('app_article', {'id': article.id}) }}">{{ article.titre1 }}</a></h1>
            <h3>{{ article.Author }}</h3>
        </div>
    {% endfor %}

{% endblock %}
